<div class="item content">
  <div class="toparea">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="col editContent"><span class="numberstep">1</span>
          <h3 class="numbertext">Register A Shop</h3>
          <p>The first step in registering is to sign up with Google. After that, give the details of the shop on the register page and then click save.</p>
          <a [routerLink]="['/shop/register']" routerLinkActive="active"  class="btn btn-outline-primary btn-lg">Click here to register your shop</a>
        </div>
      </div>
      <div class="col-md-4 editContent">
        <div class="col"><span class="numberstep">2</span>
          <h3 class="numbertext">Customise Your Shop</h3>
          <p>After logging in to the admin ( the detail will there in registration success mail ), click on shop settings from the main menu. There you can set theme, banners, logo, etc.</p>
        </div>
      </div>
      <div class="col-md-4 editContent">
        <div class="col"><span class="numberstep">3</span>
          <h3 class="numbertext">Finally</h3>
          <p>After logging in to the admin, click on the Categories menu and add category. Then click on Products from the main menu, select the category on the Add Product page and add the product</p>
        </div>
      </div>
    </div>
  </div>
</div>
