<form [formGroup]="searchFrm" (submit)="search()">

  <mat-form-field class="searchBox" [appearance]="(isHead) ? 'legacy': 'outline' ">
    <mat-label>Search Keyword</mat-label>
    <input matInput autofocus type="search" formControlName="q" placeholder="Ex. Black Forest">
    <!-- <button mat-icon-button matSuffix (click)="voice()" *ngIf="(micAccess$ | async)">
      <mat-icon>mic</mat-icon>
    </button> -->
    <!-- <button mat-icon-button matSuffix type="submit">
      <mat-icon>search</mat-icon>
    </button> -->
  </mat-form-field>
</form>
