
<div class="header-inner"></div>
<div class="container">

  <h1>
    Manage My Account
  </h1>

  <mat-tab-group   [selectedIndex]="tabIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">manage_accounts</mat-icon>
        EDIT PROFILE & CHANGE PASSWORD
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">support_agent</mat-icon>
        HELP DESK
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">money</mat-icon>
        My Payments
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">reports</mat-icon>
        My Reported Abuse
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>

</div>


