
<h1 mat-dialog-title>
  {{ data?.shop_customer?.name + ' Order'}}
</h1>
<div mat-dialog-content>

  <ul>
    <li>
      Name:&nbsp;&nbsp;{{ data?.shop_customer?.name}}
    </li>
    <li>
      Phone:&nbsp;&nbsp;<a [href]="whastAppUrl" target="_blank" matTooltip="Click here to chat with customer in Whatsapp"> {{ data?.shop_customer?.phone}}</a>
    </li>
    <li *ngIf="data.shop_customer.email">
      Email:&nbsp;&nbsp;{{ data?.shop_customer?.email}}
    </li>
    <li>
      Delivery At:&nbsp;&nbsp;{{ data?.delivery_at | date: 'mediumDate'}} - {{ data?.delivery_slot }}
    </li>
    <li *ngIf="data.shop_delivery.need_cust_loc">
      Address:&nbsp;&nbsp;{{ data?.address}} &nbsp;&nbsp;{{ data?.pin}}
    </li>
    <li *ngIf="data.loc">
      <a *ngIf="mapUrl" [href]="mapUrl" target="_blank" matTooltip="Click here to view custoimer location in google map">Google Map</a>
    </li>
    <li>
      Delivery:&nbsp;&nbsp;{{ data?.shop_delivery?.name}}
          {{ (data?.delivery_chage) ? ' @ '+(data?.delivery_chage | currency:'INR'): '' }}
    </li>
    <li *ngIf="data.note">
      Order Note:&nbsp;&nbsp;{{ data?.note}}
    </li>
  </ul>

    <h2 class="text-center">Total:&nbsp;&nbsp;{{ data?.total | currency:'INR'}}</h2>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status" matInput>
          <mat-option [value]="1">Ordered</mat-option>
          <mat-option [value]="2">Processing</mat-option>
          <mat-option [value]="3">Out For Delivery</mat-option>
          <mat-option [value]="4">Delivered</mat-option>
          <mat-option [value]="5">Canceled</mat-option>
        </mat-select>
      </mat-form-field>


      <div  [ngClass.lt-sm]="'has-mobile-cards'" *ngIf="data.shop_order_item">
        <table mat-table [dataSource]="data.shop_order_item" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Number Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element; let i = index" data-label="No">{{i + 1}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" data-label="Name">
              {{element.shop_product_variant.shop_product.name}} {{element.shop_product_variant.name}}
            </td>
          </ng-container>

          <!-- Icon Column -->
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element" data-label="Qty">
              {{element.qty}}
            </td>
          </ng-container>

          <!-- Icon Column -->
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Message </th>
            <td mat-cell *matCellDef="let element" data-label="Message">
              {{ (element.message) ? element.message : '-' }}
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element" data-label="Price">
              {{element.price | currency:'INR' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button type="button" (click)="dialogRef.close()">Close</button>
  <button mat-stroked-button type="button" (click)="changeStatus()">Change Status</button>
</div>
