<ng-container *ngIf="pages$ | async as pages">
  <mat-expansion-panel *ngFor="let page of pages">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{page.name}}
      </mat-panel-title>
      <mat-panel-description  fxHide.xs="true">
        Click here to change &nbsp;<b>{{ page.name }}</b>&nbsp; page contents
      </mat-panel-description>
    </mat-expansion-panel-header>
      <mat-card>
        <app-manage-cms-page [page]="page" (reload)="ngOnInit()"></app-manage-cms-page>
      </mat-card>
  </mat-expansion-panel>
</ng-container>
