<!-- <fire-fire-messaging></fire-fire-messaging> -->

<ng-container *ngIf="currentTheme$ | async">
  <mat-sidenav-container [hasBackdrop]="true" fullscreen>
    <mat-sidenav #sidenav role="navigation" [mode]="'push'">
      <app-side-nav-list (sidenavClose)="sidenav.close()"></app-side-nav-list>      
    </mat-sidenav>
    <mat-sidenav-content cdkscrollable class="my-sidenav-content" (scroll)="onScroll($event)">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>      
      <main id="page-main">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>