<section class="page-section">
  <div class="page__container">
    <h1>Contact Us</h1>
    <div fxLayout="row" fxLayoutAlign="start start">
      <!-- <img src="./assets/contact-us.jpg" alt="contact onlinecarts.in"> -->
      <mat-card class="left-block">
        <h2 class="page-title">Get in Touch</h2>        
        <ul *ngIf="footerData$ | async as footerData">
          <li *ngIf="footerData.address">
            <mat-icon>contact_mail</mat-icon> &nbsp;
            {{footerData.address}}
          </li>
          <li>
            <mat-icon>email</mat-icon> &nbsp;
            <a [href]="'mailto:'+footerData.email+'?subject=Enquiry'">{{footerData.email}}</a>
          </li>
          <li>
            <mat-icon>whatsapp</mat-icon> &nbsp;
            <a fxHide.gt-sm="true" [href]="'https://api.whatsapp.com/send?phone='+footerData.mobile+'&text=Hi'"
            target="_blank">{{ footerData.mobile  }} ( whatsapp Only )</a>
            <a fxHide.lt-sm="true" [href]="'https://web.whatsapp.com/send?phone='+footerData.mobile+'&text=Hi'"
            target="_blank">{{ footerData.mobile  }}   ( whatsapp Only )</a>
          </li>          
        </ul>

        <ul class="inline">
          <li>
            <a href="https://www.facebook.com/" mat-mini-fab color="primary" >
              <mat-icon>facebook</mat-icon>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/" mat-mini-fab color="primary" >
              <mat-icon>smart_display</mat-icon>
            </a>
          </li>          
        </ul>

      </mat-card>
      <mat-card class="right-block">        
        <form [formGroup]="contactUsFrm"  (ngSubmit)="sentContact()">

          <mat-form-field class="full-width-text" appearance="standard" fxFill>
            <mat-label>Name</mat-label>
            <input autocomplete="name" matInput formControlName="name" placeholder="John Doe" required maxlength="200">
            <mat-hint align="end" *ngIf="f.name?.value?.length">{{f.name?.value?.length}} / 200</mat-hint>
            <mat-error *ngIf="f.name.errors && f.name.errors.error">
              {{f.name.errors.error}}
            </mat-error>
          </mat-form-field>


          <mat-form-field class="full-width-text" appearance="standard" fxFill>
            <mat-label>Email</mat-label>
            <input autocomplete="email" type="email" matInput formControlName="email" placeholder="Johndoe@gmail.com" required maxlength="200">
            <mat-hint align="end" *ngIf="f.name?.value?.length">{{f.email?.value?.length}} / 200</mat-hint>
            <mat-error *ngIf="f.email.errors && f.email.errors.error">
              {{f.email.errors.error}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-text" appearance="standard" fxFill>
            <mat-label>Phone</mat-label>
            <input type="tel" autocomplete="phone" matInput formControlName="phone" placeholder="6548965464" required maxlength="12">
            <mat-hint align="end" *ngIf="f.phone?.value?.length">{{f.phone?.value?.length}} / 12</mat-hint>
            <mat-error *ngIf="f.phone.errors && f.phone.errors.error">
              {{f.phone.errors.error}}
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="full-width-text" appearance="standard" fxFill>
            <mat-label>Comment</mat-label>
            <textarea  matInput formControlName="comment" placeholder="Queries" required maxlength="2000"></textarea>
            <mat-hint align="end" *ngIf="f.comment?.value?.length">{{f.comment?.value?.length}} / 2000</mat-hint>
            <mat-error *ngIf="f.comment.errors && f.comment.errors.error">
              {{f.comment.errors.error}}
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="contactUsFrm.invalid">Sent</button>
        </form>
      </mat-card>
    </div>
    
  
  </div>
</section>


