.main-details{
  text-align: center;
  a{
    text-decoration: none;
    font-size: 20px;
  }
  h1{
    text-align: center;
    margin: 0;
    padding: 0;
    mat-icon{
      font-size: 70px;
      margin-left: -77px;
    }
  }

}
