<div class="header-inner"></div>
<div class="container">
  <h1>Get In Touch</h1>
  <div *ngIf="shop$ | async as shop">
    <h3>{{shop?.name}}</h3>

    <p>

      <a [href]="'mailto:'+shop?.email+'?subject='+shop?.name+' Enquiry'"  color="primary" aria-label="Whatsapp message" fxShow fxHide.gt-xs="true">
        {{shop?.email}}
      </a>

    </p>
    <p>
      Mobile: {{shop?.phone}}
      <a [href]="'https://api.whatsapp.com/send?phone='+shop?.phone" mat-mini-fab color="primary" aria-label="Whatsapp message" fxShow fxHide.gt-xs="true">
        <mat-icon>question_answer</mat-icon>
      </a>
      &nbsp;
      <a  [href]="'tel://'+shop?.phone"  mat-mini-fab color="primary" aria-label="Call" fxShow fxHide.gt-xs="true">
        <mat-icon>phone</mat-icon>
      </a>
    </p>

    <a target="_blank" [href]="(shop?.map_url) ? shop?.map_url : 'https://www.google.com/maps/place/'+shop?.address ">
      <mat-icon>place</mat-icon> <address>{{ shop?.address }}</address>
    </a>


    {{shop?.country?.name}}, {{shop?.state?.name}}, {{shop?.city?.name}} - {{shop?.city?.pin}}

    <div *ngIf="shop?.branches">
      <div *ngFor="let branch of shop?.branches">
        <h3>{{ branch.name }}</h3>
        <a target="_blank" *ngIf="branch.address" [href]="(branch?.map_url) ? branch?.map_url : 'https://www.google.com/maps/place/'+branch.address ">
          <mat-icon>place</mat-icon> <address>{{ branch.address }}</address>
        </a>

      </div>
    </div>
    <h4>Business Hours</h4>
    <div [innerHTML]="shop?.business_hours"></div>
  </div>
</div>
