/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-sharebuttons/themes/default/default-theme';
@import 'variables';


@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);


.container{
  width: 90%;
  margin:auto;
}
body{
  font-family: "Montserrat",sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.42857;
  color: #585858;
  background-color: #fff;
  .header{
    border-top-left-radius: 90px;
    // background-color: #13255e;
  }
  .page-section{
    
    padding-top: 2em;
    padding-bottom: 2em;
    .page__container{
      z-index: 0;
      position: relative;
    }
  }

  


  .page-section{
    h4.c-title{
      color: #444;
      font-size: 25px;
    }
  }
  h4.c-title{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    &::after, &::before{
      content: '';;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
    }
    &::after{
      background: $primaryColor;
      width: 60px;
    }
    &::before{
      right: 0;
      background: #555;
    }
  }


  .is-invalid
  {
    .ng-select-container{
      border: 1px solid #dc3545;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right 23px center;
      background-size: 19px;
    }
  }
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}



.d-grid {
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    .span2 {
        grid-column: 1 / span 2;
    }
    &.grd-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
   &.grd-col-2{
    grid-template-columns: 1fr 1fr;
   }
  }

  body {
      font-family: $fontFmily;
      color:$text-color;
  }
  h1 {font-size:$fontsize-2;}
