<section class="page-section">
  <div class="container page__container">
    <div class="row">
      <div class="col-md-7 col">
        <h4 class="c-title" *ngIf="FullName">
          {{FullName}}'s Shop
        </h4>
        <h4 class="c-title" *ngIf="!FullName">
          Sign Up
        </h4>
      </div>
    </div>
    <mat-stepper>
    </mat-stepper>
    <app-registration-step-one *ngIf="!(user$ | async)"></app-registration-step-one>
    <app-registration-step-two  *ngIf="(user$ | async)"></app-registration-step-two>

  </div>
</section>
