<div class="header-inner"></div>
<div class="container">
  <ng-container *ngIf="page$ | async as page else nofoundErr">
    <br/>
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{ page?.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div [innerHTML]="page.content"></div>
      </mat-card-content>
    </mat-card>

  </ng-container>



  <ng-template #nofoundErr>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>Oops!</h1>
          <h2>404 - The Page can't be found</h2>
        </div>
        <button mat-raised-button color="accent" [routerLink]="['/']">
          <mat-icon>home</mat-icon>
          Back to Home
        </button>
      </div>
    </div>
  </ng-template>
</div>
