@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);



@include angular-material-theme($theme);




.shop-default-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);


  @include angular-material-theme($dark-theme);
}


.shop-default-pink-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-pink);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);


  @include angular-material-theme($dark-theme);
}

.shop-default-purple-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-purple);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);


  @include angular-material-theme($dark-theme);
}

.shop-default-deep-purple-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-deep-purple);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);


  @include angular-material-theme($dark-theme);
}
.shop-default-indigo-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-indigo);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}


.shop-default-blue-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-blue);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}


.shop-default-light-blue-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-light-blue);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-cyan-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-cyan);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-teal-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-teal);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}



.shop-default-green-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-green);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-light-green-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-light-green);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-lime-light-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-lime);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-yellow-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-amber-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-amber);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-orange-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-orange);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-deep-orange-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-deep-orange);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-brown-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-brown);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-grey-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.shop-default-blue-gray-theme {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

