@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);



.primary-text-color{
  color: mat-color($primary)
}




.main-menu-text-color{
  color:  $light-primary-text
}

.ngx-slider {
  .ngx-slider-pointer{
    background-color: mat-color($primary) !important;
  }
}

.primary-bg{
  background-color: mat-color($primary) !important;
}

.footer-bg{
  $footerbg: mat-palette($primary, 100, A700, A700);
  background-color: mat-color($footerbg)
}


.shop-default-light-theme {

  $primary: mat-palette($mat-blue-grey);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}


.shop-default-pink-light-theme {
  $primary: mat-palette($mat-pink);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);


  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-purple-light-theme {
  $primary: mat-palette($mat-purple);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);


  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-deep-purple-light-theme {
  $primary: mat-palette($mat-deep-purple);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);


  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}
.shop-default-indigo-light-theme {
  $primary: mat-palette($mat-indigo);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);


  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}


.shop-default-blue-light-theme {
  $primary: mat-palette($mat-blue);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}


.shop-default-light-blue-light-theme {
  $primary: mat-palette($mat-light-blue);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-cyan-light-theme {
  $primary: mat-palette($mat-cyan);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .main-menu-text-color{
    color:  $dark-primary-text
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-teal-light-theme {
  $primary: mat-palette($mat-teal);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}



.shop-default-green-light-theme {
  $primary: mat-palette($mat-green);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-light-green-light-theme {

  $primary: mat-palette($mat-light-green);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-lime-light-theme {

  $primary: mat-palette($mat-lime);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color(mat-palette($mat-lime, 800, A100, A700))
  }

  .main-menu-text-color{
    color:  $dark-primary-text
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-yellow-theme {
  $primary: mat-palette($mat-yellow);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color(mat-palette($mat-yellow, 800, A100, A700))
  }

  .main-menu-text-color{
    color:  $dark-primary-text
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-amber-theme {
  $primary: mat-palette($mat-amber);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .main-menu-text-color{
    color:  $dark-primary-text
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-orange-theme {
  $primary: mat-palette($mat-orange);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-deep-orange-theme {
  $primary: mat-palette($mat-deep-orange);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-brown-theme {
  $primary: mat-palette($mat-brown);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-grey-theme {
  $primary: mat-palette($mat-grey);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color(mat-palette($mat-grey, 800, A100, A700))
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }
}

.shop-default-blue-gray-theme {
  $primary: mat-palette($mat-blue-grey, 800, A100, A700);
  $accent: mat-palette($mat-amber, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $fg_palette:map-get($theme, foreground);
  $bg_palette:map-get($theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --fg: #{$fg};
  --bg: #{$bg};

  .primary-text-color{
    color:  mat-color($primary)
  }

  .ngx-slider {
    .ngx-slider-pointer{
      background-color: mat-color($primary) !important;
    }
  }

  .primary-bg{
    background-color: mat-color($primary) !important;
  }

  .footer-bg{
    $footerbg: mat-palette($primary, 100, A700, A700);
    background-color: mat-color($footerbg)
  }

}





body{
  color: $dark-primary-text;
  a{
    color: $dark-primary-text;
    &.bold{
      font-weight: bold;
    }
    &:hover, &:active{
      color:$dark-secondary-text;
    }
    &.active{
      color:$dark-secondary-text;
    }
  }
}



