
.product-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;

  .inner-img{
    min-height: 250px;
  }
}

mat-card{
  margin-bottom: 10px;
};
.text-center{
  text-align: center;
}

mat-card.grid-my-list{
  padding: 0px;
  button{
    border-radius: 0px;
  }
};
.veg, .non-veg{
  padding-top: 0px;
  position: absolute;
}
.middle{
  margin: 0px 9px 0px 9px;
}
.cart-item-header
{
  margin-bottom: 0px;
  a {
      color: #821807;
      font-weight: 500;
      margin-bottom: 0px;
      text-decoration: none;
  }
}

.whatsapp-btn {
    border-radius: 50px;
    padding: 5px 20px;
    margin-left: 30px;
}
svg {
    width:25px;
    margin-right: 8px;

}

.right-section{
  margin-top: 55px;
}
