// /* You can add global styles to this file, and also import other style files */

 @import "~@ng-select/ng-select/themes/material.theme.css";
 @import '~ngx-sharebuttons/themes/default/default-theme';
 @import './styles/material-theme';

 html, body { height: 100%; margin: 0; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.add-icon-position {
    left: -5px;
    position: relative;
}

mat-card{
  padding: 10px;
  &.full{
    padding: 0px;
  }
}

mat-nav-list{
  a{
    background-color: rgba(255, 255, 255, 0.5) !important;
    &.active{
      background-color: rgba(224, 220, 220, 0.5) !important;
    }
  }


}

.veg, .nonveg {
  border: 2px solid #35D200;
  width: 16px;
  height: 16px;
  margin:4px;
  &::after{
    content: '';
    border-radius:50%;
    position: relative;
    top:4px;
    left:5px;
    display: block;
    background-color:#35D200 ;
    width:8px;
    height: 8px;
  }
}

table {
  width: 100%;
}

.nonveg {
    border: 2px solid #FF0000;
    &::after{
      background-color:#FF0000 ;
    }
  }

.text-center{
  text-align: center;
}
  .accent-color {
    color: mat-color($accent) !important;
  }

  .warn-color {
    color: mat-color($warn) !important;
  }



.mb1 {
    margin-bottom:1.5rem;
}
.mat-fab .mat-button-wrapper {
    padding: 0px!important;
    line-height: 16px!important;
}

main {
   min-height: calc(100vh - 122px);
  //  :not(app-home){
  //   .container{
  //     margin-top:55px !important;
  //   }
  //  }
}
.container{
    padding: 0 15px;
    padding-top: 12px;
}

.alert-warning {
  color: #664d03;
  background-color:#fff3cd;
  border-color: #ffecb5;
}

.alert-danger {
  background-color: #f44336; /* Red */
}
.alert-success {
  background-color: #36f456;
}
.alert{
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.shop-message{
  // position: absolute;
  top: 64px;
  // z-index: 100;
  // width: 100%;
}
.float-right{
  float: right;
}
.has-mobile-cards{
  thead {
    display: none;
  }
  tr{
    box-shadow:0 2px 3px hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 10%);
    max-width: 100%;
    position: relative;
    display: block;
    height: auto !important;
    td{
      display: flex;
      width: auto;
      padding: .5em .75em !important;
      justify-content: space-between;
      border-bottom: 1px solid #f5f5f5;
      vertical-align: top;
      &::before{
        content:attr(data-label);
        font-weight: 600;
        padding-right: .5em;
        text-align: left;
      }
    }
  }
  tr:not(:last-child){
    margin-bottom: 1em;
  }

}

.mat-standard-chip{
  border-radius: 3px !important;
  min-height: 27px !important;
}

.cc-revoke{
  display: none !important;
}
