.spacer {
   flex: 1 1 auto;
}
.search-block{
  position: absolute;
  top: 0px;
  width: 76%;
}
mat-toolbar{
  position: fixed;
  z-index: 200;
}

a {
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: lightgray;
}
.navmenu {
  a {
    margin-left: 20px;
    font-weight: 100;
  }
  }

.logo{
  background-repeat: no-repeat;
  padding: 8px 0 8px 55px;
  background-size: 50px;
  background-position: 0px 3px;
}
