<div fxLayout="row" fxLayoutAlign="space-between center" class="container">
   <app-home-banner-svg></app-home-banner-svg>   
   <div class="banner-right animate__animated animate__fadeIn">      
      <h2>
         Ready To Create Your Shop Website?
      </h2>
      <p>
         Design and style should constantly work to make your business appear and feel nice - without exerting too much effort - so you can focus on the important things.
      </p>
      <p>
         <button mat-flat-button color="primary">Register your shop</button>
         <button mat-flat-button color="accent" class="demo-btn">Check a Demo shop</button>
      </p>
   </div> 
</div>