<ng-container class="category-menu" *ngIf="!(hideTopCat$  | async)">
<ng-container  *ngIf="(categories$  | async) as categories">
  <div class="category-menu"  *ngIf="categories && categories.length > 1"
    (swipeleft)="onSwipeLeft($event)"
    (swiperight)="onSwipeRight($event)" >

    <nav mat-tab-nav-bar [backgroundColor]="background">
      <a mat-tab-link *ngFor="let category of categories"
      [routerLink]="'/'+category.url+'/varities'"
      [active]=" (selectedCategory$ | async)?.id == category.id">
      <mat-icon *ngIf="category.icon && category.is_maticon">{{category.icon}}</mat-icon>
      <img class="img-thumbnail" [src]="environment.siteAddress+'/assets/shop/'+environment.shopKey+'/category/'+category.icon" *ngIf="category.icon && !category.is_maticon"/>
      {{category.name}}
      </a>
    </nav>

  </div>
</ng-container>
<ng-content></ng-content>
</ng-container>
