<div class="item content">
  <div class="container toparea">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="col editContent"><span class="numberstep">1</span>
          <h3 class="numbertext">Register A Shop</h3>
          <p>Click on below Register button to start register your shop with us.</p>
          <a [routerLink]="['/shop/register']" routerLinkActive="active"  class="btn btn-outline-primary btn-lg">Register</a>
        </div>
      </div>
      <div class="col-md-4 editContent">
        <div class="col"><span class="numberstep">2</span>
          <h3 class="numbertext">Customise Your Shop</h3>
          <p>You can set logo, Banners and choose theme for your shop.</p>
        </div>
      </div>
      <div class="col-md-4 editContent">
        <div class="col"><span class="numberstep">3</span>
          <h3 class="numbertext">Finally</h3>
          <p>Create products in your own categories</p>
        </div>
      </div>
    </div>
  </div>
</div>
