<div class="item content">
  <div class="container toparea">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="col editContent"><span class="numberstep">1</span>
          <h3 class="numbertext">Create An Account</h3>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          <a href="javascript:{}" class="btn btn-outline-primary">Create an Account</a>
        </div>
      </div>
      <div class="col-md-4 editContent">
        <div class="col"><span class="numberstep">2</span>
          <h3 class="numbertext">Customise Your Shop</h3>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
      <div class="col-md-4 editContent">
        <div class="col"><span class="numberstep">3</span>
          <h3 class="numbertext">Publish To Public</h3>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
    </div>
  </div>
</div>
