
<div *ngIf="shopPoint$ | async as shopPoint">
  Coins : <span class="my-points">{{ shopPoint.points }}</span>
</div>
<p>
  These are the coins that are credited to your account.
  1 coins = 1 rupies.
  So you can use this point to renew the subscription of the shop.
  If you use this coins to renew, Then you should pay only the balance amount of that selected package.
</p>
<app-redeem-point-coupon (redeemed)="reCall$.next(true)"></app-redeem-point-coupon>

<p *ngIf="shop$ | async as shop">
  If you share the link below, you will get 50 coins if a new shop was registered through this link. And also the registered shop will also get 50 coins. Click below link to copy the referring url
  <a href="javascript:{}" matTooltip="click here to copy this referring url"
  aria-label="click here to copy this referring url" [cdkCopyToClipboard]="orgin+'/front/?rf='+shop.shop_key" (cdkCopyToClipboardCopied)="copied()">{{ orgin }}/front/?rf={{shop.shop_key}}</a>
  <button mat-icon-button
        shareButton="whatsapp"
        [url]="orgin+'/front/?rf='+shop?.shop_key"
        #fbBtn="shareButton"
        matTooltip="share referring url in whatsapp"
        title="Please register on onlinecart.in"
        description="You can create your custom shopping site in onlinecarts. If you using this link then you will get a promotional offer"
        aria-label="share this product in whatsapp">
  <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg"></fa-icon>
</button>
<button mat-icon-button
[url]="orgin+'/front/?rf='+shop?.shop_key"
        shareButton="facebook"
        #twtBtn="shareButton" matTooltip="share referring url in facebook"
        title="Please register on onlinecart.in"
        description="You can create your custom shopping site in onlinecarts. If you using this link then you will get a promotional offer"
        aria-label="share this product in facebook">
  <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg"></fa-icon>
</button>
</p>
