<form [formGroup]="saveFrm" (submit)="sent()">
  <app-modal>
  <div header>
    {{ 'Sent '+pm.subject  }}
  </div>

  <div body>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" id="mobile"
        [ngClass]="{'is-invalid': (f.mobile.errors && f.mobile.errors.error)}"
        placeholder="Mobile" formControlName="mobile" ngbAutofocus>
        <div *ngIf="f.mobile.errors && f.mobile.errors.error" class="invalid-feedback">
          {{f.mobile.errors.error}}
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
        [ngClass]="{'is-invalid': (f.name.errors && f.name.errors.error)}"
        placeholder="Name" formControlName="name" ngbAutofocus>
        <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
          {{f.name.errors.error}}
        </div>
      </div>



  </div>
  <div footer>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Cancel</button>
    <button type="submit"  class="btn btn-primary ml-3" [disabled]="!f.mobile.value">Send</button>
  </div>
  <!-- [href]="'https://web.whatsapp.com/send?phone='+f.mobile.value+'&text='+pm.message" -->

  </app-modal>
</form>
