<form [formGroup]="customerFrm">
  <div class="selectDelevery" >
    <h3>Delivered to:</h3>

    <mat-tab-group mat-align-tabs="start" *ngIf="(shop$ | async) as shop" dynamicHeight >
      <mat-tab label="Pickup From Shop">
        <ng-template matTabContent>

          <app-order-form
          lp="free"
          [formGroup]="customerFrm"
          ></app-order-form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Home Delivery">
        <ng-template matTabContent>
          <ng-container *ngIf="f.selectedLocation.value">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <p>Delivery Cost: {{ f.selectedLocation.value?.charge }}</p>
              <p *ngIf="f.selectedLocation.value?.min_amount">Minimum Order Amount: {{ f.selectedLocation.value?.min_amount }}</p>
            </div>



            <p [innerHTML]="f.selectedLocation.value?.description"></p>

          </ng-container>


          <app-order-form
          lp="paid"
          [formGroup]="customerFrm"></app-order-form>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>
</form>
