<form [formGroup]="customerFrm">
  <div class="selectDelevery" >
    <h3>Delivered to:  <mat-error *ngIf="!customerFrm.controls.selectedLocation.value">
      Please choose a pick up from shop or home delivery
    </mat-error></h3>

    <mat-tab-group mat-align-tabs="start" *ngIf="(shop$ | async) as shop" dynamicHeight >
      <mat-tab label="Pickup From Shop">
        <ng-template matTabContent>

          <mat-accordion>
            <mat-expansion-panel   *ngFor="let shop_delivery of shop?.shop_delivery_filtered.free"
            [expanded]="shop_delivery.isOpened"
            (opened)="shop_delivery.isOpened = true"
              (closed)="shop_delivery.isOpened = false" [ngClass]="{'selected': customerFrm.controls.selectedLocation.value?.id == shop_delivery.id}">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{shop_delivery.name}}
                </mat-panel-title>
                <mat-panel-description>
                  <span *ngIf="shop_delivery.charge" class="charge">
                    Delivery Charge @ ₹ {{ shop_delivery.charge}}
                  </span>
                </mat-panel-description>
              </mat-expansion-panel-header>
                <p [innerHTML]="shop_delivery.description"></p>
                <app-order-form
                [shopDelivery]="shop_delivery" [mapUrl]="mapUrl"
                *ngIf="shop_delivery.isOpened"
                [formGroup]="customerFrm"></app-order-form>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-template>
      </mat-tab>
      <mat-tab label="Home Delivery">
        <ng-template matTabContent>
          <ng-container *ngIf="f.selectedLocation.value">
            <p [innerHTML]="f.selectedLocation.value?.description"></p>
            <p>Delivery Cost: {{ f.selectedLocation.value?.charge }}</p>
          </ng-container>


          <app-order-form  [mapUrl]="mapUrl"
          [deliveryloc]="shop?.shop_delivery_filtered.paid"
          [formGroup]="customerFrm"></app-order-form>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>
</form>
