.spacer {
   flex: 1 1 auto;
}
.search-block{
  position: absolute;
  top: 0px;
  width: 74%;
}
mat-toolbar{
  position: fixed;
  z-index: 200;
}

a {
  text-decoration: none;

}


.navmenu {
  a {
    margin-left: 20px;
    text-transform: uppercase;
  }
  }

  .shop-head{
    height: 100%;
    display: block;
    div{
      float: left;
      height: 33px;
      &.small-head{
        line-height: 18px;
        marquee{
          display: block;
          font-size: 15px;
          max-width: 117px;
        }
      }
      &.logo{
        background-repeat: no-repeat;
        min-width: 51px;

        background-size: 50px;
        border-radius: 4px;
      }
    }
  }

