<div class="header-inner"></div>
<div class="container">
  <br/>
  <mat-card *ngIf="shop$ | async as shop">
    <mat-card-header>
      <mat-card-title>Get In Touch</mat-card-title>
      <mat-card-subtitle>Contact {{ shop?.name }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content >
      <div *ngIf="shop?.isDemoSite" >Its a demo site so the contact us details given below is dummy </div>
      <br/>
      <div fxLayout="row wrap"  fxLayout.lt-md="column"  fxLayoutAlign="space-between" class="main-details">
            <div [fxFlex]="(100/3)">
              <h1><mat-icon>mail</mat-icon></h1>
              <a [href]="'mailto:'+shop?.email+'?subject='+shop?.name+' Enquiry'"  color="primary"
               aria-label="Whatsapp message" >
                {{shop?.email}}
              </a>

            </div>
            <div [fxFlex]="(100/3)">
              <h1><mat-icon>call</mat-icon></h1>
              <a href="javascript:{}"  (click)="openBottomSheet()">
                {{ shop?.phone }}
              </a>

              <a [href]="'https://api.whatsapp.com/send?phone='+shop?.phone" mat-mini-fab
              color="primary" aria-label="Whatsapp message" fxShow fxHide.gt-xs="true" *ngIf="!shop?.isDemoSite">
                <mat-icon>question_answer</mat-icon>
              </a>
              <a  [href]="'tel://'+shop?.phone"  mat-mini-fab color="primary" aria-label="Call" fxShow
              fxHide.gt-xs="true" *ngIf="!shop?.isDemoSite">
                <mat-icon>phone</mat-icon>
              </a>

            </div>

            <div [fxFlex]="(100/3)">
              <h1><mat-icon>place</mat-icon></h1>
              <a target="_blank" [href]="(shop?.map_url) ? shop?.map_url : 'https://www.google.com/maps/place/'+shop?.address ">
                <address>{{ shop?.address }}</address>
                {{shop?.country?.name}}, {{shop?.state?.name}}, {{shop?.city?.name}} - {{shop?.pin}}
              </a>

            </div>
      </div>

      <br/>
      <div *ngIf="shop?.business_hours">
        <h1><mat-icon>schedule</mat-icon> Business Hours</h1>
        <p [innerHTML]="shop?.business_hours"></p>
      </div>
      <br/>

      <ng-container  *ngIf="shop?.branches && shop?.branches?.length">
        <h1>More Location(s)</h1>
        <div  fxLayout="row wrap"  fxLayout.lt-md="column"  fxLayoutAlign="space-between">
          <div *ngFor="let branch of shop?.branches" [fxFlex]="(100/3)">
            <h3><mat-icon>place</mat-icon> {{ branch.name }}</h3>
            <a target="_blank" *ngIf="branch.address" [href]="(branch?.map_url) ? branch?.map_url : 'https://www.google.com/maps/place/'+branch.address ">
              <address>{{ branch.address }}</address>
            </a>

          </div>
        </div>

      </ng-container>
    </mat-card-content>
  </mat-card>

</div>
