<div class="header-inner"></div>
<div class="container">
<h1>
  Categories
  <button mat-raised-button color="primary" class="mb-10 float-right"  type="button" (click)="editCategory(null)"><mat-icon class="add-icon-position">add</mat-icon>Create Category</button>
</h1>

<ng-container *ngIf="(categories$ | async) as categories">
<mat-card>

  <div  [ngClass.lt-sm]="'has-mobile-cards'">
    <table mat-table [dataSource]="categories">

      <!-- id Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" data-label="No."> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" data-label="Name">
          <a href="javascript:{}" (click)="editCategory(element)"
           matTooltip="Click here to view or edit this category">{{element.name}}
           <span matTooltip="Products count"> ( {{element.shop_product_count}} )</span>
          </a>

        </td>
      </ng-container>

      <!-- total Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let element" data-label="Icon">
          <span *ngIf="!element.icon">--</span>
          <mat-icon *ngIf="element.is_maticon && element.icon">{{element.icon}}</mat-icon>
          <img class="img-thumbnail" *ngIf="!element.is_maticon && element.icon" [src]="environment.siteAddress+'/assets/shop/'+environment.shopKey+'/category/'+element.icon" />
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" data-label="Status">
          <a href="javascript:{}" (click)="changeStatus(element)">{{element.status_text}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element" data-label="Delete">
          <button type="button" mat-icon-button  color="warn"
                (click)="deleteCategory(element)">
                <mat-icon>delete_forever</mat-icon>
              </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</mat-card>
</ng-container>
</div>
