<div fxLayout="row" fxLayoutAlign="space-between" class="container top-main-menu">            
  <div>     
    <a routerLink="/" *ngIf="footerData$  | async as footerData" class="head">{{footerData.site_name}}</a>
  </div>
  <div>
    <ul>
      <li>
        <a routerLink="/about-us" routerLinkActive="active">About</a>    
      </li>
      <li>
        <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
      </li>
      <li>
        <a routerLink="/how-it-works"  routerLinkActive="active">How It Works</a>
      </li>
      <li>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <li>
        <button mat-stroked-button color="primary" routerLink="/">Demo</button>
      </li>
      <li>
        <button mat-raised-button routerLink="/sign-up" color="primary">Register Your Shop</button>    
      </li>
      <li *ngIf="(loggedUser$ | async) as loggedUser">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="loggedMenu">Admin</button>
        <mat-menu #loggedMenu="matMenu">
            <button mat-menu-item routerLink="/admin">Access</button>      
              <button mat-menu-item routerLink="/admin/edit-profile">Edit Profile</button>      
            <button mat-menu-item  (click)="signOut()">Sign Out</button>        
        </mat-menu>                
      </li>
    </ul>                        
  </div>    
</div>
