<div>
  <h2>Who Can Use and How it works</h2>
  <p>
    Anyone with a restaurant or bakery can take an account on this site.
    Using your account in onlinecarts you can create a custom website for your shop
    Using this website you can sell your shop's products.For this you need to add your products through the admin panel of your created website.
    When you open an account on this website you will receive an E-mail with your shop details and its web address.
    Once you have added the product, those products will be listed on your newly created website. You can set the theme, home page banner, About Us content, terms content, logo etc of your website.
    When your customer orders a product, you will receive a message on whatsapp.
    Then you can cinfirm the order through chat or phone before going to prepare.
  </p>
  <p>Below we mention the steps to create an account in onlinecarts.in</p>
</div>
