<form [formGroup]="registerForm" (submit)="save()" id="registerForm">
  <div class="page-content">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your shop name"
        [ngClass]="{'is-invalid': ( f.name.errors && f.name.errors.error)}"
        formControlName="name">
        <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
          {{f.name.errors.error}}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="base_path">Shop Url</label>
        <input type="base_path" class="form-control" id="base_path"
        [ngClass]="{'is-invalid': ( f.base_path.errors)}"
        placeholder="Shop Url"
        formControlName="base_path">
        <div *ngIf="f.base_path.errors && f.base_path.errors.error" class="invalid-feedback">
          {{f.base_path.errors.error}}
        </div>
        <small>This will keep as shop url. Example:
          https://www.onlinecarts.com/{{ (f.base_path.value) ? f.base_path.value : 'shop-name' }}.
          You can choose only available url
        </small>
      </div>

      <div class="form-group col-md-6">
        <label for="shop_category_id">Category</label>
        <ng-select [items]="(shopCategories$ | async)"
        [ngClass]="{'is-invalid': ( f.shop_category_id.errors && f.shop_category_id.errors.error)}"
        bindLabel="name"
        id="shop_category_id"
        placeholder="Choose your shop category"
        formControlName="shop_category_id">
        </ng-select>
        <div *ngIf="f.shop_category_id.errors && f.shop_category_id.errors.error" class="invalid-feedback">
          {{f.shop_category_id.errors.error}}
        </div>
      </div>



      <div class="form-group col-md-6">
        <label for="country_id">Country</label>
        <ng-select [items]="(countries$ | async)"
        bindLabel="name"
        id="country_id"
        [ngClass]="{'is-invalid': ( f.country_id.errors && f.country_id.errors.error)}"
        placeholder="Choose your shop country"
        formControlName="country_id">
        </ng-select>
        <div *ngIf="f.country_id.errors && f.country_id.errors.error" class="invalid-feedback">
          {{f.country_id.errors.error}}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="phone">Mobile</label>

        <div class="input-group mb-2">
          <div class="input-group-prepend" *ngIf="f.country_id.value?.phonecode">
            <div class="input-group-text">+{{ f.country_id.value?.phonecode }}</div>
          </div>
          <input type="tel" class="form-control" id="phone"
            [ngClass]="{'is-invalid': ( f.phone.errors && f.phone.errors.error)}"
            placeholder="Enter your Mobile number"
            formControlName="phone">
        </div>
        <small>The order deatil will whats app to this number, You can change this at any time through after login</small>
        <div *ngIf="f.phone.errors && f.phone.errors.error" class="invalid-feedback">
          {{f.phone.errors.error}}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="address">Address</label>
        <textarea class="form-control" id="address"
        [ngClass]="{'is-invalid': ( f.address.errors && f.address.errors.error)}"
        placeholder="Enter shop address"
        formControlName="address">
        </textarea>
        <div *ngIf="f.address.errors && f.address.errors.error" class="invalid-feedback">
          {{f.address.errors.error}}
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="state_id">State</label>
        <ng-select [items]="(states$ | async)"
          bindLabel="name"
          [ngClass]="{'is-invalid': ( f.state_id.errors && f.state_id.errors.error)}"
          id="state_id"
          placeholder="Choose the state"
          formControlName="state_id">
          </ng-select>
        <div *ngIf="f.state_id.errors && f.state_id.errors.error" class="invalid-feedback">
          {{f.state_id.errors.error}}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="city_id">City</label>
        <ng-select [items]="(cities$ | async)"
        [ngClass]="{'is-invalid': ( f.city_id.errors && f.city_id.errors.error)}"
          bindLabel="name"
          id="city_id"
          placeholder="Choose the city"
          formControlName="city_id">
          </ng-select>
          <div *ngIf="f.city_id.errors && f.city_id.errors.error" class="invalid-feedback">
            {{f.city_id.errors.error}}
          </div>
      </div>

      <div class="form-group col-md-6">
        <label for="Pin">Pin</label>
        <input type="number" class="form-control" id="Pin"
        [ngClass]="{'is-invalid': ( f.pin.errors && f.pin.errors.error)}"
        placeholder="Enter the pin code"
        formControlName="pin">
        <div *ngIf="f.pin.errors && f.pin.errors.error" class="invalid-feedback">
          {{f.pin.errors.error}}
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="Local">Local Place</label>
        <input type="text" class="form-control" id="Local"
        [ngClass]="{'is-invalid': ( f.local.errors && f.local.errors.error)}"
        placeholder="Enter the local place the of the shop"
        formControlName="local">
        <div *ngIf="f.local.errors && f.local.errors.error" class="invalid-feedback">
          {{f.local.errors.error}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="javascript:{}" class="float-right" (click)="terms()">Click Here to read our terms</a>
      </div>
      <div class="col">
        <div class="custom-control custom-checkbox ">
          <input type="checkbox" class="custom-control-input" id="terms" formControlName="terms">
          <label class="custom-control-label" for="terms">Agree Terms</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">

      </div>
      <div class="col-md-2 mt-3">
          <button type="submit" class="btn btn-primary float-right btn-block"
           name="save" [disabled]="!f.terms.value">Save</button>
      </div>
    </div>
  </div>
</form>
