<div class="full-pg" >
  <mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
      <div>
        <button mat-icon-button [routerLink]="['../']">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div fxFlex="100%" fxFill>
        <mat-form-field class="searchBox" appearance="outline"  fxFill>
          <mat-label>Search Keyword</mat-label>
          <input #searchBox matInput autofocus type="search"  placeholder="Ex. Black Forest" >
          <!-- <button mat-icon-button matSuffix (click)="voice()" *ngIf="(micAccess$ | async)">
            <mat-icon>mic</mat-icon>
          </button> -->
          <button mat-icon-button matSuffix type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>      
    </div>
    

    
  </mat-toolbar>

  
</div>