<a routerLink="create" class="btn btn-primary float-right">Create Shop</a>
<div class="clearfix mb-3 mt-2"></div>

<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(shops$ | async) as shops">
      <tr *ngFor="let shop of shops">
        <td>
          {{ shop.id }}
        </td>
        <td>
          <a [routerLink]="'shop/'+shop.shop_key">{{shop.name}}</a>
        </td>
        <td>
          {{ shop.status_text }}
        </td>
        <td>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="chooseSubScr(shop)">Choose Subscription</button>
              <a ngbDropdownItem  [routerLink]="'edit/'+shop.shop_key"><fa-icon [icon]="faEdit"></fa-icon> Edit</a>
              <button class="text-danger" ngbDropdownItem (click)="delete(shop)" *ngIf="!shop.is_default"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
            </div>
          </div>


        </td>
      </tr>
    </ng-container>

  </tbody>
</table>

