<div class="header-inner"></div>
<div class="container">
  <form (ngSubmit)="saveProduct(step1, step2)">
  <h1 >
    {{ (product?.id) ? 'Edit '+product?.name : 'Create New Product' }}

    <div mat-dialog-actions align="end">
      <a routerLink="/admin/products/0" mat-raised-button  color="primary" >Cancel</a>
      &nbsp;&nbsp;<button type="submit" mat-raised-button  color="primary">Save changes</button>
    </div>

  </h1>


    <br/>
    <mat-card class="p-20">


      <mat-stepper [linear]="true" #stepper [selectedIndex]="selectedIndex">
        <mat-step [stepControl]="step1.createProductFrm">          
            <ng-template matStepLabel>              
              {{ (product?.name) ? product?.name+' Detail' : 'Product Detail' }}
            </ng-template>          
              <div>
                <app-create-product-setp-1 #step1></app-create-product-setp-1>
              </div>
            <div>
              <button mat-button matStepperNext type="button">Next</button>
            </div>          
        </mat-step>
     
        <mat-step [stepControl]="step2.createProductFrm">
          <ng-template matStepLabel>            
            {{ product?.name }} Varients
          </ng-template>
            <app-create-product-setp-2 #step2></app-create-product-setp-2>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>      




    </mat-card>
    <br/>


  </form>
</div>
