<div  *ngIf="product?.shop_product_tag && product?.shop_product_tag.length">
  <h4>{{product.name}}'s Features</h4>
  <hr>
  <div fxLayout="row wrap"
  fxLayoutAlign="space-between">
    <div [fxFlex.gt-sm]="(100/4)" [fxFlex.lt-sm]="(100/2)"
    *ngFor="let spt of product?.shop_product_tag" fxLayoutAlign="0px 0px">
      <mat-icon color="primary">label_important</mat-icon>
        <span>{{spt.name}}</span>
    </div>

    <ng-container *ngIf="product.shop_product_selected_variant?.shop_product_variant_tag && product.shop_product_selected_variant?.shop_product_variant_tag.length">
      <div [fxFlex.gt-sm]="(100/4)" [fxFlex.lt-sm]="(100/2)"
      *ngFor="let shop_product_variant_tag of product.shop_product_selected_variant?.shop_product_variant_tag" fxLayoutAlign="0px 0px">
        <mat-icon color="primary">label_important</mat-icon>
          <span>{{shop_product_variant_tag.name}}</span>
      </div>
    </ng-container>


  </div>
</div>
