<div class="header-inner"></div>
<div class="container">
  <h1>Order Details #{{ order.id }}</h1>


  <div *ngIf="shop$ | async as shop" class="qr-code">
    <ngx-qrcode
  elementType="url"
  [value]="shop.shop_url+'/order/'+order.sec_key"
  errorCorrectionLevel="L"></ngx-qrcode>
  </div>


  <mat-list role="list">
    <mat-list-item role="listitem">
      Status:&nbsp;&nbsp;{{ order.status_text}}
    </mat-list-item>
    <mat-list-item role="listitem">
      Name:&nbsp;&nbsp;{{ order.shop_customer.name}}
    </mat-list-item>
    <mat-list-item role="listitem">
      Phone:&nbsp;&nbsp; {{ order.shop_customer.phone}}
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="order.shop_customer.email">
      CEmail:&nbsp;&nbsp;{{ order.shop_customer.email}}
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="order.delivery_at">
      Delivery At:&nbsp;&nbsp;{{ order.delivery_at | date: 'mediumDate'}} @ {{ order.delivery_slot}}
    </mat-list-item>

    <ng-container *ngIf="order.shop_delivery.need_cust_loc">
      <mat-list-item role="listitem">
        Address:&nbsp;&nbsp;{{ order.address}}
      </mat-list-item>
      <mat-list-item role="listitem">
        Pin:&nbsp;&nbsp;{{ order.pin}}
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="order.loc">
        <a *ngIf="mapUrl" [href]="mapUrl" target="_blank" matTooltip="Click here to view custoimer location in google map">Google Map</a>
      </mat-list-item>
    </ng-container>

    <mat-list-item role="listitem">
      Delivery:&nbsp;&nbsp;{{ order.shop_delivery.name}}
      {{ (order.delivery_chage) ? ' @ '+(order.delivery_chage | currency:'INR'): '' }}
    </mat-list-item>
    <mat-list-item role="listitem">
    <h2>Total:&nbsp;&nbsp;{{ order.total | currency:'INR'}}</h2>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="order.note">
      Order Note:&nbsp;&nbsp;{{ order.note}}
    </mat-list-item>
  </mat-list>



  <mat-card>
    <div  [ngClass.lt-sm]="'has-mobile-cards'">
      <table mat-table [dataSource]="order.shop_order_item" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Number Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell data-label="No." *matCellDef="let element; let i = index">{{i + 1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" data-label="Name">
            {{element.shop_product_variant.shop_product.name}} {{element.shop_product_variant.name}}
          </td>
        </ng-container>

        <!-- Icon Column -->
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element" data-label="Quantity">
            {{element.qty}}
          </td>
        </ng-container>

        <!-- Icon Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef> Message </th>
          <td mat-cell *matCellDef="let element" data-label="Message">
            {{element.message}}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element" data-label="Price">
            {{element.price | currency:'INR' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>
