<section class="page-section">
  <div class="container page__container">
    <div class="row">
      <div class="col-md-5 col">
        <h4 class="c-title">How It Works</h4>
      </div>
    </div>
    <div class="page-content">
      <div class="how-section1 mt-3">
        <div class="row mt-3" *ngFor="let dt of data; let i=index;">
          <ng-container *ngIf="((i+1) % 2)">
            <ng-container *ngTemplateOutlet="firstDom; context: {$implicit: dt}"></ng-container>
          </ng-container>
          <ng-container *ngIf="!((i+1) % 2)">
            <ng-container *ngTemplateOutlet="secondDom;  context: {$implicit: dt}"></ng-container>
          </ng-container>

        </div>

        <ng-template #firstDom let-dt >
          <div class="col-md-6 how-img">
            <img [src]="dt.img" class="img-fluid" [alt]="dt.title"/>
          </div>
          <div class="col-md-6">
            <h4>{{ dt.title }}</h4>
            <h4 class="subheading">{{ dt.subTitle }}</h4>
            <p class="text-muted" [innerHTML]="dt.content"></p>
          </div>
        </ng-template>
        <ng-template #secondDom let-dt>
          <div class="col-md-6" >
            <h4>{{ dt.title }}</h4>
            <h4 class="subheading">{{ dt.subTitle }}</h4>
            <p class="text-muted" [innerHTML]="dt.content"></p>
          </div>
          <div class="col-md-6 how-img">
            <img  [src]="dt.img" class="img-fluid" [alt]="dt.title"/>
          </div>
        </ng-template>
    </div>
    </div>
  </div>
</section>
