<ng-container *ngIf="product">

  <div class="container">
    <mat-cart>
      <h1 class="primary-text-color product-head">{{ product.name }} [ {{ product.shop_product_selected_variant?.name }} ]</h1>
      <small *ngIf="product?.shop_product_category?.name"><h5 class="primary-text-color">{{ product?.shop_product_category?.name }}</h5></small>
      <form [formGroup]="addToCartFrm" (ngSubmit)="addToCart()">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
          <div fxFlex="35%" fxFlex.xs="100%">
            <div fxLayout="column" fxLayoutAlign="space-between">
              <div class="mat-card-headerimage" fxFlex="100%"
                [ngStyle]="{'background-image': (product.shop_product_selected_variant?.shop_product_image?.image) ? 'url(' +  product.shop_product_selected_variant.shop_product_image.image_path + ')' : 'url(/assets/no-image.jpg)'}">
                <!-- <div *ngIf="product.shop_product_selected_variant?.type.id"
                [matTooltip]="(product?.shop_product_selected_variant?.type.id == 1) ? 'Veg' : ( (product?.shop_product_selected_variant?.type.id == 2) ? 'Non-Veg':'' )"
                [ngClass]="{'veg': product.shop_product_selected_variant?.type.id == 1, 'nonveg': product.shop_product_selected_variant?.type.id == 2}"></div> -->
                <!-- <img loading="lazy"  [src]="(product.shop_product_selected_variant?.shop_product_image?.image) ?  product.shop_product_selected_variant.shop_product_image.image_path : 'assets/no-image.jpg'" [alt]="product.name+' '+product.shop_product_selected_variant?.name"> -->
              </div>


            </div>






          </div>
          <div fxFlex="65%" fxFlex.xs="100%" [ngClass.gt-xs]="'description'">
            <h3 fxHide.lt-sm="true" class="primary-text-color">About {{product.name}} </h3>
            <div fxLayout="row" fxLayoutAlign="space-between">

              <mat-form-field fxFlex="40%"  appearance="standard" *ngIf="(product.shop_product_variant.length > 1)">
                <mat-label>Choose Varient</mat-label>
                <mat-select formControlName="shop_product_variant_id" required (selectionChange)="chooseVarient()">
                  <mat-option *ngFor="let shop_product_variant of product.shop_product_variant" [value]="shop_product_variant.id">
                    {{shop_product_variant.name}} - {{shop_product_variant.price | currency:'INR'}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f.shop_product_variant_id.errors && f.shop_product_variant_id.errors.error">
                  {{f.shop_product_variant_id.errors.error}}
                </mat-error>
              </mat-form-field>

              <div
              fxLayoutAlign="center center" [ngClass.lt-sm]="'price-lt-sm'"
              class="price" fxFlex="40%"   *ngIf="product.shop_product_selected_variant?.price">
                <div [ngClass]="{'margin-top-14': product.shop_product_variant.length <= 1}">
                  <del *ngIf="product.shop_product_selected_variant?.actual_price">{{ product.shop_product_selected_variant?.actual_price | currency:'INR' }}</del>
                  &nbsp;&nbsp;<span class="weight-bold animate__animated animate__flipInX"> {{ product.shop_product_selected_variant?.price | currency:'INR'}} </span>
                </div>
              </div>
            </div>

            <mat-chip-list aria-label="varient tag" *ngIf="product.shop_product_selected_variant?.shop_product_variant_tag && product.shop_product_selected_variant?.shop_product_variant_tag.length">
              <mat-chip color="accent" selected class="animate__animated animate__flipInX" *ngFor="let shop_product_variant_tag of product.shop_product_selected_variant?.shop_product_variant_tag">{{shop_product_variant_tag.name}}</mat-chip>
            </mat-chip-list>




            <div class="relativePosition" [ngClass.lt-sm]="'text-center'">
              <button type="button" mat-icon-button color="primary" (click)="updateCart('-')" [disabled]="qty<2"
              matTooltip="Decrease the quantity" class="animate__animated"
              [ngClass]="{'animate__flipInY' : qty<2 }">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              {{qty}}
              <button type="button" mat-icon-button color="primary" (click)="updateCart('+')"
              matTooltip="Increase the quantity">
                <mat-icon>add_circle_outline</mat-icon>
              </button>

              <button    mat-raised-button color="primary" type="submit">Add To Cart</button>

            </div>

            <h5>Choosen Varient {{product.name}} - {{product.shop_product_selected_variant.name}}</h5>
            <app-product-tag-chip [product]="product"></app-product-tag-chip>
            <p>{{product.shop_product_selected_variant?.description}}</p>

            <p *ngIf="product.description" [innerHTML]="product.description"></p>


          </div>
        </div>









    </form>
    </mat-cart>
  </div>
</ng-container>
