<mat-toolbar color="primary" *ngIf="(layOutXSmall$ | async) as layOutXSmall">
  <ng-container *ngIf="(bc$ | async) as bc">
    <div *ngIf="layOutXSmall.matches && bc?.backUrl">
      <button mat-icon-button [routerLink]="bc?.backUrl">
          <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
  </ng-container>
  <div *ngIf="(shop$ | async) as shop">
    <a class="logo main-menu-text-color" [style.background-image]="'url(' + shop.logo + ')'" routerLink="/admin">{{shop.name}}</a>
  </div>
  <div class="flex-right" *ngIf="layOutXSmall.matches">
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>

  <ng-container *ngIf="!layOutXSmall.matches">
    <div class="flex-right navmenu">


    <ng-container *ngIf="(loggedUser$ | async) as loggedUser">
        <a class="main-menu-text-color" routerLink="/admin/categories" routerLinkActive="active">Categories</a>
        <a class="main-menu-text-color" routerLink="/admin/products/0"  routerLinkActive="active">Products</a>
        <a class="main-menu-text-color" routerLink="/admin/deliveries"  routerLinkActive="active">Delivery</a>
        <a class="main-menu-text-color" routerLink="/admin/orders" routerLinkActive="active">Orders</a>
        <a class="main-menu-text-color" routerLink="/admin/details"  routerLinkActive="active">Customise Shop</a>
        <a class="main-menu-text-color" routerLink="/admin/account" routerLinkActive="active">Manage Account</a>
        <a class="main-menu-text-color" routerLink="/">Back To Site</a>
        <div class="ml-15">
          <button  (click)="signOut()"  mat-stroked-button class="main-menu-text-color" >{{loggedUser.fname}}
            <mat-icon color="warn">power_settings_new</mat-icon>
          </button>
        </div>
    </ng-container>
  </div>
  </ng-container>

</mat-toolbar>
<div *ngIf="(localGeneralService.shopDisabled | async)" class="alert alert-warning shop-message">
  The subscription for this shop has expired. If you are the owner of this shop please make payment to continue our service. This shop will be permanently deleted if your subscription is not renewed.
  <br/>
  <a mat-primary-button routerLink="admin/renew">Click here for renew your account</a>
</div>

