<mat-toolbar color="primary" *ngIf="(layOutXSmall$ | async) as layOutXSmall">
  <ng-container *ngIf="(bc$ | async) as bc">
    <div *ngIf="layOutXSmall.matches && bc?.backUrl">
      <button mat-icon-button [routerLink]="bc?.backUrl">
          <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
  </ng-container>
  <div *ngIf="(shop$ | async) as shop">
    <a class="logo main-menu-text-color" [style.background-image]="'url(' + shop.logo + ')'" routerLink="/admin">{{shop.name}}</a>

  </div>
  <div class="flex-right" *ngIf="layOutXSmall.matches">
      <ng-container *ngTemplateOutlet="notificationTemplate">
      </ng-container>

      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>

  <ng-container *ngIf="!layOutXSmall.matches">
    <div class="flex-right navmenu">


    <ng-container *ngIf="(loggedUser$ | async) as loggedUser">

        <a class="main-menu-text-color" routerLink="/admin/categories" routerLinkActive="active">Categories</a>
        <a class="main-menu-text-color" routerLink="/admin/products/0"  routerLinkActive="active">Products</a>
        <a class="main-menu-text-color" routerLink="/admin/deliveries"  routerLinkActive="active">Delivery</a>
        <a class="main-menu-text-color" routerLink="/admin/orders" routerLinkActive="active">Orders</a>
        <a class="main-menu-text-color" routerLink="/admin/details"  routerLinkActive="active">Shop Settings</a>
        <a class="main-menu-text-color" routerLink="/admin/account" routerLinkActive="active">My Account</a>

        <a class="main-menu-text-color" routerLink="/admin/renew" routerLinkActive="active">Pricing</a>
        <a class="main-menu-text-color" routerLink="/">Back To Site</a>

        <div class="ml-15">
          <ng-container *ngTemplateOutlet="notificationTemplate">
          </ng-container>


          <button  (click)="signOut()"  mat-stroked-button class="main-menu-text-color" >{{loggedUser.fname}}
            <mat-icon color="warn">power_settings_new</mat-icon>
          </button>
        </div>
    </ng-container>
  </div>
  </ng-container>


</mat-toolbar>

<ng-template #notificationTemplate>
  <button mat-icon-button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="openOverlay()"
  [ngClass]="{'accent-color': isOpen}">
    <mat-icon>notifications</mat-icon>
  </button>

  <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  >
    <app-shop-pop-up-notifications [messages]="messages"></app-shop-pop-up-notifications>
  </ng-template>

</ng-template>

<div *ngIf="(localGeneralService.shopDisabled | async) as shopDisabled" class="alert alert-warning shop-message">
  {{ shopDisabled.message }}
  <br/>
  <a mat-primary-button routerLink="admin/renew">Click here for renew your account</a>
</div>






