<section class="page-section">
  <div class="container page__container">
    <div class="row">
      <div class="col-md-5 col">
        <h4 class="c-title">About Us</h4>
      </div>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col">
          <p>
            We are mainly focus to grow the small business. While we make them to online then they can sell there product through online platform
          </p>
          <p>
            We are create this to promote each shops in cheep rate. and make a great growth in future.
          </p>
          <p>
            On this current situvation ( covid pandemic ) the small shops are facing to find there business in offline. So using this platform they can move to online in cheep rate
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
