<section class="page-section">
  <div class="container page__container">
    <div class="row">
      <div class="col-md-5 col">
        <h4 class="c-title">About Us</h4>
      </div>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col">
          <p>
            We are a team of freelancers with deep knowledge in latest design & development technologies.
          </p>
          <p>
            We mainly focus on to growth of small business. While we make them to online then they can sell there product through this online platform
          </p>
          <p>
            We are create this to promote each shop's products in cheap rate. and make a big growth in future.
          </p>
          <p>
            On this current situation ( covid pandemic )  small shops are facing difficluties in offline business. So using this platform they can move their business to online.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
