<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" *ngIf="img$ | async as img">
  <mat-card [fxFlex.gt-sm]="(98/img.length)" [fxFlex.sm]="(98/img.length)" *ngFor="let image of img; let idx = index">
    <button (click)="fileInput.click()" type="button" mat-stroked-button color="primary" >
      <span>Choose Banner</span>
      <input #fileInput type="file" (change)="handleImageSelection(image, idx,$event)"
       style="display:none;"  accept="image/*" />
    </button>

    <br/>
    <br/>
    <img mat-card-image [src]="image.url" alt="" *ngIf="image.url" />
  </mat-card>




</div>
