<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
  <div fxFlex="33%" fxFlex.xs="100%">
    <mat-form-field appearance="fill" *ngIf="thems$ | async as thems">
      <mat-label>Choose Theme</mat-label>
      <mat-select (selectionChange)="chooseTheme()" [(ngModel)]="theme_id">
        <mat-option *ngFor="let theme of thems" [value]="theme?.id">
          {{theme?.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="33%" fxFlex.xs="100%">
    <img mat-card-image [src]="logo" alt="" *ngIf="logo" />

    <button (click)="logoInput.click()" type="button" mat-stroked-button color="primary" >
      <span>Choose Logo</span>
      <input #logoInput type="file" (change)="handleImageSelection('logo',$event)"
       style="display:none;"  accept="image/*" />
    </button>    
  </div>

  <div fxFlex="33%" fxFlex.xs="100%">
    <img mat-card-image [src]="favicon" alt="" *ngIf="favicon" />

    <button (click)="faviconInput.click()" type="button" mat-stroked-button color="primary" >
      <span>Choose Favicon</span>
      <input #faviconInput type="file" (change)="handleImageSelection('favicon',$event)"
       style="display:none;"  accept="image/*" />
    </button>
    
  </div>

</div>
