<section class="page-section">
  <div class="container page__container">
    <div class="row">
      <div class="col-md-5 col">
        <h4 class="c-title">Refund Policy</h4>
      </div>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col">

          <p>onlinecarts.in will give an opportunity to customer for using this website with its full features for free for a fixed period. This period is also an opportunity to check whether this site is convenient to them. Therefore, before payment of portal fee / rent, be convinced that whether this site is useful to you.</p>
          <p>If a customer needs a refund/cancel subscription of portal rent for any other reason, that teacher has to inform the same to onlinecartsin@gmail.com in https://onlinecarts.in  within 30 days after payment. If so, the fee will be refunded within next 1 month. But, if the refund is requested after 30 days, refund will not be granted.</p>
          <p>while making payment on onlinecarts.in, there may be situation that your shop does not get enabled and at the same time your bank account was debited. contact your bank or wallet in such situations.</p>

        </div>
      </div>
    </div>
  </div>
</section>


